<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">

    <!--由于客户端发送请求无法发送PUT\DELETE方式的请求
    SpringMVC提供一个过滤器实现实现表单发送put\delete请求
    -->
<!--    <filter>-->
<!--        <filter-name>HiddenHttpMethodFilter</filter-name>-->
<!--        <filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>-->
<!--    </filter>-->

<!--    <filter-mapping>-->
<!--        <filter-name>HiddenHttpMethodFilter</filter-name>-->
<!--        <url-pattern>/*</url-pattern>-->
<!--    </filter-mapping>-->


    <!--解决以Post方式提交中文乱码问题-->
    <filter>
        <filter-name>encodeFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>encodeFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- 服务器启动监听，创建ApplicationContext对象 -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <!-- 启动服务器就访问Student-->
    <!--  <welcome-file-list>-->
    <!--    <welcome-file>Student</welcome-file>-->
    <!--  </welcome-file-list>-->
    <!-- 监听器默认会去找 WebInfo 下面的ApplicationContext.xml 如果不在此目录下 就要指定路径 -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:applicationContext-*.xml</param-value>
    </context-param>

    <!--拦截所有请求-->
    <servlet>
        <servlet-name>springmvc</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <!--     Servlet初始化时指定读取配置文件   -->
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:springmvc.xml</param-value>
        </init-param>
<!--服务器启动就读取-->
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>springmvc</servlet-name>
        <!--   这次要配置的是/不然会404     -->
        <url-pattern>/</url-pattern>
    </servlet-mapping>

<!--   配置Shiro过滤器 -->
    <filter>
        <filter-name>filterShiro</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
        <init-param>
            <param-name>targetFilterfecycle</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>filterShiro</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


<!--    <error-page>-->
<!--        <error-code>401</error-code>-->
<!--        <location>/unauthorized.html</location>-->
<!--    </error-page>-->

    <welcome-file-list>
        <welcome-file>login.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
</web-app>
